In [1]:
import pandas as pd
import numpy as np

In [2]:
df={
    'S.no':[1,2,3,4,5],
    'name':['a','b','c','d','e'],
    'Qualifier':['pass','fail','pass','fail','pass']
}
df

{'S.no': [1, 2, 3, 4, 5],
 'name': ['a', 'b', 'c', 'd', 'e'],
 'Qualifier': ['pass', 'fail', 'pass', 'fail', 'pass']}

In [3]:
df=pd.DataFrame(df)
df

   S.no name Qualifier
0     1    a      pass
1     2    b      fail
2     3    c      pass
3     4    d      fail
4     5    e      pass

In [4]:
df.to_csv('details.csv')
info=pd.read_csv("details.csv",index_col=0)
info

   S.no name Qualifier
0     1    a      pass
1     2    b      fail
2     3    c      pass
3     4    d      fail
4     5    e      pass

In [5]:
info.Qualifier.value_counts()

pass    3
fail    2
Name: Qualifier, dtype: int64

In [6]:
info.replace(['pass','fail'],[1,0],inplace=True)

In [7]:
info

   S.no name  Qualifier
0     1    a          1
1     2    b          0
2     3    c          1
3     4    d          0
4     5    e          1

In [8]:
info['Qualifier'].value_counts()

1    3
0    2
Name: Qualifier, dtype: int64

In [11]:
# pd.get_dummies(info,columns=['Qualifier'])