## Pandas (Data Frame)

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
sc=[['mat',99],['eng',89],['hin',67]]
print(pd.DataFrame(sc))

     0   1
0  mat  99
1  eng  89
2  hin  67

In [5]:
pd.DataFrame(sc,columns=['Subjects','Marks'])

  Subjects  Marks
0      mat     99
1      eng     89
2      hin     67

In [6]:
sc={'Subjects':['mat','eng','soc'],'marks':[100,90,89]}
pd.DataFrame(sc)

  Subjects  marks
0      mat    100
1      eng     90
2      soc     89

In [11]:
scores=[{'subjects':'mat','marks': 90},{'subjects':'oop'},{'subjects':'ds','marks':90}]
df=pd.DataFrame(scores)
print(df)

  subjects  marks
0      mat   90.0
1      oop    NaN
2       ds   90.0

In [12]:
# To view top rows by using head()
df.head()

  subjects  marks
0      mat   90.0
1      oop    NaN
2       ds   90.0

In [13]:
df.head(2)

  subjects  marks
0      mat   90.0
1      oop    NaN

In [14]:
# To view bottom rows
df.tail()

  subjects  marks
0      mat   90.0
1      oop    NaN
2       ds   90.0

In [15]:
df.tail(1)

  subjects  marks
2       ds   90.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   subjects  3 non-null      object
 1   marks     2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

In [18]:
df.describe()

       marks
count    2.0
mean    90.0
std      0.0
min     90.0
25%     90.0
50%     90.0
75%     90.0
max     90.0

In [19]:
#Pandas use the loc attribute to return one or more specified row(s)
#refer to the row index
#Returns a pandas series
print(df.loc[1])

subjects    oop
marks       NaN
Name: 1, dtype: object

In [21]:
#using a list of indices
print(df.loc[[0,2]])

  subjects  marks
0      mat   90.0
2       ds   90.0